.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/log/*.lck
spec/dummy/tmp/
spec/dummy/.project
spec/dummy/solr
**.tmp_*
Gemfile.lock
.idea
.project
.document
.settings/
rdoc/
doc/
.yardoc/*
