%p Welcome to Mailboxer!
%nav
  - if user_signed_in?
    = link_to "Sign out", destroy_user_session_path
  - else
    = link_to "Sign in", new_user_session_path
    = link_to "Sign up", new_user_registration_path
